<form action="/cooks/update/{{cookHbs._id}}" method="POST">
    <input type="text" name="name" value="{{cookHbs.name}}" placeholder="Cook Name">
    <input type="text" name="image" value="{{cookHbs.image}}" placeholder="Cook Picture">
    <input type="submit" value="Update">
</form>