{{!-- <nav>
    <ul>
        <a href="/recipes"><li>Check out all the recipes</li></a>
        <a href="/cooks"><li>Check out all the cooks</li></a>
        <a href=""><li></li></a>
        <a href=""><li></li></a>  
    </ul>
</nav> --}}

<nav>

        <a href="/recipes">Check out all the recipes</a>
        <a href="/recipes/create">Add a recipe</a>
        <br>
        <a href="/cooks">Check out all the cooks</a>
        <a href="/cooks/create">Add a cook</a>  

</nav>